@import "tailwindcss";

@theme {
    --color-tn-d-fg:      #c0caf5;
    --color-tn-d-bg:      #1a1b26;
    --color-tn-d-black:   #15161e;
    --color-tn-d-red:     #f7768e;
    --color-tn-d-green:   #9ece6a;
    --color-tn-d-yellow:  #e0af68;
    --color-tn-d-blue:    #7aa2f7;
    --color-tn-d-magenta: #bb9af7;
    --color-tn-d-cyan:    #7dcfff;
    --color-tn-d-white:   #a9b1d6;

    --color-tn-l-bg:      #e1e2e7;
    --color-tn-l-fg:      #3760bf;
    --color-tn-l-black:   #b4b5b9;
    --color-tn-l-red:     #f52a65;
    --color-tn-l-green:   #587539;
    --color-tn-l-yellow:  #8c6c3e;
    --color-tn-l-blue:    #2e7de9;
    --color-tn-l-magenta: #9854f1;
    --color-tn-l-cyan:    #007197;
    --color-tn-l-white:   #6172b0;
}

:root {
    @apply bg-tn-l-bg;
    @variant dark {
        @apply bg-tn-d-bg;
    }
}
